
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Services available online
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>
      

     

      <h2 class="govuk-heading-m">About this page</h2>

      <p>You can use this service to apply online.
       </p>
       <a href="start">Apply license to juggle</a>
       <br>
       <a href="#">Apply license to </a>
       <br>
       <a href="#">Apply license to </a>

      

     
    </div>
</div>

{% endblock %}
